<!DOCTYPE html>
<html>

  {% include head.html %}
  {% include baidu-anaylysis.html %}

  <body class="{% if site.theme-dark %} dark {% else %} light {% endif %} ">

    {% include header.html %}


    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

  </body>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.css">
  <script src="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.min.js"></script>
  <script src="https://cdn.bootcss.com/blueimp-md5/2.10.0/js/md5.min.js"></script>

<script>
   var gitalk = new Gitalk({
      clientID: '1135a374faa2c7622c47',
      clientSecret: '6c31d1ee458cb3886de838cde94a7a9d768d739a',
      repo: 'blog',
      owner: 'daysleep666',
      admin: 'daysleep666',
      // id: location.pathname,
      id: md5(location.pathname),
      distractionFreeMode: 'false'  

    })
    gitalk.render('gitalk_container')
  </script>

</html>
